

img {
    max-width: 100%;
}

.container {
    max-width: 800px;
    background-color: pink;
    overflow: hidden;
}


.column {
    border: 1px solid #333;
    margin-bottom: 20px;
    width: 25%;
    display: inline-block;
    vertical-align: top;
}


/*p {
    width: 40%;
}*/


strong {
    color: red;
}